---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
<h1 style="margin-bottom: 0.75em">All {{ postslistCounter }} Posts</h1>

{% include "postslist.njk" %}