{# Include this partial on pages where lightbox functionality is needed #}
<script src="{{ '/js/lightbox.js' | url }}" defer></script>
{# The defer attribute is optional but recommended to prevent render blocking #}
 
</script> 