{#
  Usage in a post:
    {% set albumId = "mexico-feb-2024" %}
    {% include "partials/photo-album.njk" %}
#}
{% set albumImages = photoAlbums[albumId] %}
{% if albumImages and albumImages.length %}
{% imageCarousel id=carouselId or albumId, images=albumImages %}
{% include "partials/lightbox-loader.njk" %}
{% include "partials/inline-carousel-loader.njk" %}
{% endif %}
