---
layout: layouts/base.njk
templateClass: tmpl-page
---
<h1>{{ title }}</h1>

{# OLD: #}
{# <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}


<div id="page-content">
  {{ content | safe }}
</div>

{%- if key %}
<h2 style="width:100%;">Posts:</h2>
{% set postslist = collections[key] %}
{% include "postslist.njk" %}
{%- endif %}




