---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>
  {{ title }}
</h1>
<div class="post-tags">
  {%- for tag in tags | filterTagList %}
  {%- set tagUrl %}/{{ tag | slugify }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}
</div>

{# {%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %} #}

<div id="post-content">
{{ content | safe }}
</div>

<div id='post-footer'>
{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul class='footer-pagination'>
  {%- if nextPost %}<li class="next">Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>
  {% else %}<li class='flex-filler'></li>{% endif %}
  {%- if previousPost %}
  <li class="previous">
    Previous: <a href="{{ previousPost.url | url }}" class="shorten-link">{{ previousPost.data.title }}</a>
    {# {% for tag in previousPost.data.tags | filterTagList %}
      {% set tagUrl %}/{{ tag | slugify }}/{% endset %}
      posted in <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %} #}
  </li>
  {% endif %}
</ul>
{%- endif %}
{%- endif %}
</div>
